In [ ]:
for i in range(0,10):
    i + 1

def pluss(i,j):
    return i + j  
pluss(1,2)

a man and a monster